<div class = "guide-card">
        <div class ="guide-info">
            <div class="full-name-profile">
            <h1 class = "name">Abdulwahhab </h1>
            <h3 class = "country">Riyadh, Saudi Arabia</h3>
        </div>
        <div class="about-me">about me </div>
            <%= image_tag  "person-1.jpg", class:"avatar" %>
            <%
=begin%>
 <%= button_to  "BOOK", new_user_registration_path, class:"book-btn" %> 
<%
=end%>
        </div>