<h1><%=@role %></h1>
<p>Find me in app/views/home/index.html.erb</p>
<%=  link_to  "Sign out", destroy_user_session_path, method: :delete %>
<%= button_to "Become a guide", home_becomeguide_path, method: :get %>