<div class='pic'> 
</div>
<div class='about'>
<h1>
 Looking to get the best out of your holiday?</h1> <br /> 
 <h2>Let us help you</h2> <br /> 
  <h3> we will getting you a great guide & trip someone who will help you navigate local language and culture,tell you stories that only a local would know!
Locide is an online platform that connects travellers with tourism service providers. Guides register their profiles here, providing detailed information about themselves, services and experiences.
Travellers who visit Locide can choose from many of these guides and tourism providers, to find the one most suited to their requirements.hence enjoying their trip on their own terms. By engaging locals, travellers more so help support the local communities in the areas they visit.</h3>
</div>