// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
}
body {
  margin: 0 auto;
  background-color: #d0b375;
}
.container {
  height: 100vh;
  width: 100vw;

  margin: 0 auto;
  text-align: center;
}
.main_image {
  margin: 15vh;
  height: 30vh;
  width: 30vw;
}
.input-field {
  width: 40vw;
  border-radius: 10px;
}
.search-btn {
  background-color: red;
  border-radius: 10px 0 10px 0;
  position: absolute;
  right: 27%;
}
a {
  color: #d0b375;
  text-decoration: none;
}
nav {
  background-color: #a31b0c;
  height: 4vh;
  padding: 3vh;
  margin: 0 auto;
}
ul {
  display: flex;
}
li {
  margin-left: 2%;
  line-height: 5%;
  list-style: none;
}
.search-container {
  position: relative;
  display: flex;
  height: fit-content;
}
.user-card {
  text-align: center;
  height: 30vh;
  width: 30vw;
  background-color: #e9e9e9;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 10px;
}
.full-name {
  display: flex;
  flex-direction: column;
  margin-left: 2%;
}
.avatar {
  height: 13vh;
  max-width: 13vw;
}
.personal-info {
  display: flex;
  flex-direction: row-reverse;
  padding: 2vh;
  justify-content: space-around;
}
.name {
  font-size: 1.5rem;
  text-align: left;
}
.country {
  font-size: 1rem;
  text-align: left;
}
