// Place all the styles related to the Trip controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.trip-container{
  position: absolute;
    display: flex;
    flex-direction: column;
}
.user-info{
    display: inline-block;
}
.card-div-trip-show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin: 0 auto;
    margin-bottom: 3%;
}
.card-div-trip{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  margin: 0 auto;
  padding: 2%;
}
.trip-div-container{
    padding: 3%;
    height: 20%;
    width: 30%;
    background-color:  #e9e9e9;
    box-shadow: 0 0 30px rgba(0,0,0, 0.4);
    margin: 0 auto;
    
  
}
.single-line-trip{
    display: flex;
    flex-direction: row;
    align-content: center;
    font-weight: 100;
    margin-left:5% ;
    margin-right: 2%;
    justify-content: space-between;
    width: 80%;
    // margin: 0 auto;
    
  }
  .link-to{
    background-color: #a31b0c;
    border: none;
    display: inline-block;
    // margin: 0 auto;
    height: 1.5em;
    width: 7em;
    border-radius: 12px;
    text-align: center;
    
  }
  
  
  .user-card-book{
    position: relative;
    text-align: center;
    height: 260px;
    width: 230px;
    background-color: #e9e9e9;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 40px;
    box-shadow: 0 0 20px rgba(0,0,0, 0.2);
    padding: 1%;
  }
  .link-btns{
      // margin: 0 auto;
      display: flex;
      justify-content: center;
      
  }
  .trip-div {
      // margin:-10px 0 0 0;
    
  }
  .triph2 {
      font-size: 14px;
  }
  .triph3 {
    font-size: 12px;
  }